{% extends "base.html" %}
{% block title %}Register new account{% endblock %}
{% block body %}
<form method="post" action="/register">
  {% if complaint %}<span class="complaint">{{ complaint }}</span>{% endif %}
  <label>Account: <input name="account"></label>
  <br>
  <label>Password: <input name="password" type="password"></label>
  <br>
  <label>Introduction: <input name="introduction" value="{{ introduction }}"></label>
  <br>
  <label for="bookdate">Birthday: </label>
  <input name="birth" type="date" id="bookdate" value="{{birth}}">
  <br>
  <input name="csrf_token" type="hidden" value="{{ csrf_token }}">
  <button type="submit">Submit</button>
</form>
{% endblock %}
